* *:hover{
    background-color: yellow;
}

body {
    background-image: url("images/background.gif");
}

.main {
    border: 10px white solid;
    background-color: white;
    margin: 0 10%;
    display: flex;
    flex-flow: column;
}

.main .header {
    background-color: #A8F0F0;
}

.main .header>* {
    text-align: right;
}

.main .header h2 {
    font-size: 14pt;
}

.main .body {
    display: flex;
}

.main .friends {
    border: 4px#C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.main .spatulas {
    border: 4px#C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
}

.main .cookie {
    border: 4px#C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    display: flex;
}

.main span {
    border-bottom: 2px blue dashed;
}